# Keil build output
Output/*.o
Output/*.d
Output/*.crf
Output/*.elf
Output/*.lnp
Output/*.hex
Output/*.htm
Output/*.axf
Output/*.dep
Output/*.ExtDll*
Output/*.ExtSfv*
Output/*.ExtScvd*
Output/JLink*
Output/Project*

# Keil listing
Listing/*.lst
Listing/*.map

# IDE / Editor
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Keil project user configs
*.uvoptx
*.uvprojx.User
*.uvopt
